body {
  color: #3ca2c3;
  display: block;
  font-family: "Open Sans", sans-serif;
  margin: 80px;
  padding: 20px 0px 20px 0px;
}
h1 {
  color: #3ca2c3;
}
h3 {
  margin: 0;
  font-size: 20px;
}
ul {
  display: block;
  list-style-type: none;

  padding: 0;
  font-size: 16px;
  font-weight: 100;
  margin-bottom: 20px;
}

.weather-app {
  background-color: white;
  border: solid #abb6be 1px;
  border-radius: 10px;
  margin: 30px auto;
  max-width: 600px;
  padding: 20px;
  position: center;
  width: 430px;
}
.actual-temperature {
  font-size: 48px;
  line-height: 1;
  text-align: center;
}
.celsius {
  font-size: 15px;
  position: relative;
  top: -32px;
}
.image {
  font-size: 60px;
  padding-right: 25px;
  line-height: 1;
}

.btn-outline-primary {
  font-size: 16px;
}

.search-form {
  align-self: right;
}
