body {
  color: black;
  display: block;
  font-family: "Open Sans", sans-serif;
  margin: 0auto;
  padding: 20px 0px 20px 0px;
  background: linear-gradient(to right, #dae2f8, #d6a4a4);
}
h1 {
  color: black;
  margin-top: 30px;
  margin-bottom: 30px;
}
h3 {
  margin: 0;
  font-size: 20px;
}
ul {
  display: block;
  list-style-type: none;
  text-transform: capitalize;
  padding: 0;
  font-size: 16px;
  font-weight: 100;
  margin-bottom: 20px;
  margin-top: 30px;
}

.weather-app-wrapper {
  margin: 30px auto;
  max-width: 600px;
}
.weather-app {
  background: linear-gradient(to right, #ece9e6, #ffffff);
  border: solid #abb6be 1px;
  border-radius: 10px;

  padding: 20px;
  position: center;
  width: 430px;
}
.actual-temperature {
  font-size: 40px;
  line-height: 1;
  text-align: center;
  font-weight: bold;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -20px;
}
.weather-temperature .units a {
  text-decoration: none;
}

.weather-temperature .active {
  color: rgb(33, 33, 33);
  cursor: default;
  text-decoration: none;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.celsius {
  font-size: 15px;
  position: relative;
  top: -22px;
}

.weather-temperature img {
  margin: 0px;
  height: 90px;
  width: 90px;
}
.btn-outline-primary {
  font-size: 16px;
}

.search-form {
  align-self: right;
}

#forecast {
  margin: 0 auto;
}

#forecast h3 {
  color: rgb(186, 186, 186);
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  height: 15px;
  line-height: 15px;
  padding-top: 7px;
}

#forecast img {
  display: block;
  margin: 0 auto;
  height: 48px;
  width: 48px;
}

.weather-forecast-temperature {
  text-align: center;
  color: rgb(135, 135, 135);
  font-size: 13px;
  font-weight: 400;
  height: auto;
  line-height: 15px;
  white-space: nowrap;
}
